
{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}

<!--Appointment content goes here-->
<!-- {% if user.is_authenticated %} -->
<h3>Book your appoinment</h3>
<p>Logged in as : {{ user.username }}</p>
<form id="appointmentForm" method="post">
    {% csrf_token %}
    {{ appointment_form.user }}
    {{ appointment_form.name }}
    {{ appointment_form.email }}
    {{ appointment_form.service }}
    {{ appointment_form.date }}
    {{ appointment_form.time }}
    {{ appointment_form.notes }}
    <button type="submit">Submit</button>
</form>
<!-- {% endif %} -->

{% endblock %}
